<h1>Patients</h1>
<% @patients.each do |patient | %>
<p><%= patient.name %></p>
<p> patients Doctor: </p>
<% patient.physicians.distinct.each do |physician|%>
<p> <%= physician.name %> </p>
<%end%>
<%end %>
