<h1>Authors</h1>

<% @author.each do |author| %>
    <h3> <%=author.name %> </h3>
    <h4> My Books </h4>
    <%author.books.each do |book|%>
        <p> <%=book.title%></p>
    <%end%>     
<% end %>    
        